---
import BaseFooter from '@components/BaseFooter.astro';
import BaseHeader from '@components/BaseHeader.astro';
import BaseHead from '@components/BaseHead.astro';
---

<html lang="en">
	<BaseHead title="Elian's Astro Starter">
	<body>
        <BaseHeader />
        <main>
		    <slot />
        </main>
        <BaseFooter />
	</body>
</html>
